/TIDALDL-UI-PRO/bin
/TIDALDL-UI-PRO/packages
/TIDALDL-UI-PRO/obj
/TIDALDL-UI-PRO/.vs
/TIDALDL-UI-PRO/*.user

/TIDALDL-UI-TESTS/bin
/TIDALDL-UI-TESTS/packages
/TIDALDL-UI-TESTS/obj
/TIDALDL-UI-TESTS/.vs
/TIDALDL-UI-TESTS/*.user
